.fixed-menu
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/view-360.svg", alt="VIEW-360")
			.text-hover
				h5 VIEW 360
					sup o
	.block-item(type="text")
		.item
			.text NHẬN BÁO GIÁ
			.icon
				img.svg(data-src="./assets/icons/quotation.svg", alt="PHONE")
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/phone.svg", alt="PHONE")
			.text-hover
				h5 0938 188 329
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/download.svg", alt="PHONE")
			.text-hover
				h5 tải chính sách thanh toán