.fixed-menu
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/view-360.svg", alt="VIEW-360")
	.block-item(type="text")
		.item
			.text NHẬN BÁO GIÁ
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/phone.svg", alt="PHONE")
	.block-item
		.item.css-selector
			.icon
				img.svg(data-src="./assets/icons/download.svg", alt="PHONE")