.index-1 {
	position: relative;

	video {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
	}
	.plyr__controls {
		justify-content: center;
	}
	.plyr__progress__container {
		display: none;
	}
	.plyr__controls__item:first-child {
		margin-right: 0;
	}
}
