.index-10 {
	margin-top: 105px;

	.review-video {
		.block-video {
			height: 365px;
		}

		.content {
			position: relative;
			padding: 25px 150px 25px 25px;
			color: #ffffff;

			h3 {
				font-size: 25px;
			}

			p {
				font-size: 18px;
			}

			.date {
				position: absolute;
				bottom: 24px;
				right: 22px;
				font-weight: 700;
				font-style: italic;
				color: map-get($mau, main);
				padding: 5px 10px;
				background-size: 100% 100%;
			}
		}
	}

	.block-1 {
		.desc {
			margin-top: 73px;

			p {
				color: #ffffff;
			}

			p+p {
				margin-top: 15px;
			}
		}
	}

	.slider-thumnail-video {
		position: relative;
		margin-top: 25px;
		padding-bottom: 70px;

		.item {
			position: relative;
			cursor: pointer;

			&.active {
				.img {
					&:after {
						content: 'ĐANG XEM';
						background-image: none;
						width: unset;
						height: unset;
						font-size: 25px;
						color: #ffffff;
					}

					&:before {
						content: '';
					}
				}
			}

			.img {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-size: cover;
					width: 57px;
					height: 57px;
					background-image: url(../assets/icons/btn-play.png);
				}

				&:before {
					content: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #000000a6;
				}
			}

			.text {
				padding: 15px;

				h3 {
					color: #ffffff;
					font-size: 20px;
					margin-bottom: 10px;
				}
			}

			.date {
				display: inline-block;
				width: unset;
				height: auto;
				font-weight: 700;
				font-style: italic;
				color: map-get($mau, main);
				padding: 5px 10px;
				background-size: 100% 100%;
			}
		}

		.list-btn {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: 50px;

		.block-1 {
			.desc {
				margin-top: 40px;
				margin-bottom: 40px;
			}
		}

		.slider-thumnail-video {
			margin-top: 10px;

			.item {
				.date {
					display: inline-block;
					font-weight: 700;
					font-style: italic;
					color: map-get($mau, main);
					padding: 5px 10px;
					background-size: 100% 100%;
				}
			}

			.list-btn {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				.item {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
					background: #DCC375;
				}

				.swiper-button-prev,
				.swiper-button-next {
					position: static;
					height: 100%;
					margin-top: 0;
					color: #ffffff;

					&:after {
						font-size: 18px;
					}
				}
			}
		}
	}
}