.index-2 {
	background: #dfdfdf;

	.slider-main-index__2 {
		position: relative;

		.list-btn-slider {
			bottom: 70px;
			right: 140px;
		}
	}

	.block-content {
		position: relative;

		@media (min-width: 1025px) {

			&[border-right],
			&[border-left] {
				border-image: linear-gradient(to bottom, #E4C777, #BA8C3C) 1 100%;
			}

			&[border-right] {
				border-width: 10px;
				border-right: solid;
			}

			&[border-left] {
				border-width: 10px;
				border-left: solid;
			}
		}
	}

	@media (min-width: 1025px) {
		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 90%;
			transform: translate(-50%, -50%);
			z-index: 3;

			&[left="40%"] {
				left: 40%;
			}

			&[width="60%"] {
				width: 60%;
			}
		}
	}

	.sub-title {
		position: relative;
		margin-top: 20px;
		padding-bottom: 25px;

		h3,
		p {
			color: #ffffff;
		}

		h3 {
			font-size: 45px;
		}

		p {
			font-size: 20px;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 160px;
			height: 1px;
			background: #ffffff;
		}
	}

	.desc {
		margin-top: 20px;

		p {
			color: #ffffff;
			font-size: 20px;
		}

		p+p {
			margin-top: 15px;
		}
	}

	@media (max-width: 1024.98px) {
		height: auto;

		.slider-main-index__2 {
			position: relative;

			.list-btn-slider {
				bottom: 15px;
				right: 15px;
			}
		}

		.block-title {
			max-width: 50%;
			margin: 0 auto;
		}

		.section {
			background-size: cover;
		}

		.block-content {
			background-size: cover;
			padding: 100px 0;
			max-width: 100%;
		}

		.sub-title {
			margin-top: 10px;
			padding-bottom: 15px;
			max-width: 80%;
			margin: 0 auto;

			h3 {
				font-size: 24px;
			}

			p {
				font-size: 18px;
			}
		}

		.desc {
			max-width: 80%;
			margin: 0 auto;
			margin-top: 25px;

			p {
				font-size: 16px;
			}

			p+p {
				margin-top: 10px;
			}
		}
	}

	@media (max-width: 575.98px) {

		.block-title {
			max-width: 80%;
		}

		.block-content {
			padding: 35px 0 75px;
		}

		.desc {
			p {
				font-size: 14px;
			}
		}

		.slider-main-index__2 {
			.list-btn-slider {
				right: unset;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}