.index-3 {
	position: relative;
	background: #37692a;

	@media (min-width: 1599.98px) {
		.block-2 {
			.container {
				max-width: 1360px;
			}
		}
	}

	.block-1 {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 85vh;
		margin-left: 122px;

		.block-title {
			margin-bottom: 40px;
		}

		.desc {
			h3 {
				color: map-get($mau, main-1);
				font-size: 22px;
				text-transform: uppercase;
				margin-bottom: 25px;
				font-weight: 800;
			}

			p {
				color: #ffffff;
				font-size: 16px;
				text-align: justify;
			}

			p+p {
				margin-top: 10px;
			}
		}

		.img-map {
			@media (min-width: 1025px) {
				position: absolute;
				right: 150px;
				top: 50%;
				width: 50%;
				transform: translateY(-50%);
			}

			svg {
				width: 100%;
				overflow: visible;

				.circle-1 {
					fill: #306132;
				}

				.circle-1-animate {
					animation: Stroke1 linear infinite 2s 1.5s;
				}

				.circle-2 {
					fill: #224e28;
				}

				.circle-2-animate {
					animation: Stroke2 linear infinite 2s;
				}

				.circle-3 {
					fill: #1f532d;
				}
			}
		}
	}

	.block-2 {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 625px;

		.block-content {
			position: relative;
			z-index: 2;
		}

		h3 {
			font-size: 22px;
			color: map-get($mau, main-1);
			margin-bottom: 30px;
		}

		.list-content {
			display: flex;
			flex-wrap: wrap;
			color: #ffffff;
			margin-right: -10px;
			margin-left: -10px;

			ul {
				-ms-flex: 0 0 100%;
				-webkit-box-flex: 0;
				flex: 0 0 50%;
				max-width: 50%;
				margin-bottom: 15px;
				padding-right: 10px;
				padding-left: 10px;
				list-style-type: none;

				li {
					position: relative;
					font-size: 16px;
					padding-left: 20px;
					text-align: justify;

					&:after {
						content: '';
						position: absolute;
						width: 7px;
						height: 7px;
						background: #ffffff;
						border-radius: 7px;
						left: 0;
						top: 15px;
					}
				}

				li+li {
					margin-top: 35px;
				}
			}
		}

		.list-items-icon {
			display: flex;
			justify-content: center;
			margin-top: 30px;

			.item {
				border-bottom: 1px solid #ffffff;
				padding-bottom: 5px;
			}

			.item+.item {
				margin-left: 130px;
			}

			.icon {
				margin-bottom: 25px;
				min-height: 80px;
				overflow: hidden;

				img {
					display: block;
					margin: 0 auto;
				}
			}

			.text {
				text-align: center;
			}

			p {
				font-size: 20px;
				color: #ffffff;
				white-space: nowrap;
			}
		}
	}

	@media (max-width: 1439.98px) {
		.block-1 {
			min-height: auto;
			padding: 100px 0;

			.block-title {
				margin-bottom: 50px;

				h2 {
					font-size: 48px;
				}
			}

			.img-map {
				right: 50px;
			}
		}
	}

	@media (max-width: 1199.98px) {
		.block-1 {
			.block-content {
				max-width: 50%;
			}
		}
	}

	@media (max-width: 1024.98px) {
		background-size: cover;

		.block-1 {
			display: block;
			align-items: unset;
			margin-left: 0;
			padding: 35px 0;
			overflow: hidden;

			.block-title {
				margin-bottom: 25px;
				margin: 0 auto;
			}

			.block-content {
				max-width: 80%;
				margin: 0 auto;
				text-align: center;
			}

			.desc {
				h3 {
					font-size: 32px;
				}
			}

			.img-map {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin: -200px 0;
			}
		}

		.block-2 {
			h3 {
				font-size: 32px;
			}

			.list-content {
				margin: 0 100px;

				ul {
					li {
						font-size: 16px;
					}

					li+li {
						margin-top: 15px;
					}
				}
			}

			.list-items-icon {
				.item+.item {
					margin-left: 30px;
				}

				p {
					font-size: 18px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.block-1 {
			.img-map {
				margin: -300px 0;
			}

			.block-content {
				max-width: 100%;

				.desc {
					h3 {
						font-size: 14px;
						margin-bottom: 10px;
					}

					p {
						font-size: 14px;
					}
				}
			}

			.block-title {
				h2 {
					font-size: 24px;
				}
			}
		}

		.block-2 {
			min-height: unset;
			padding: 35px 0;

			h3 {
				font-size: 14px;
				margin-bottom: 15px;
			}

			.list-content {
				margin: 0;

				ul {
					-ms-flex: 0 0 100%;
					-webkit-box-flex: 0;
					flex: 0 0 100%;
					max-width: 100%;

					li {
						font-size: 14px;

						&:after {
							width: 5px;
							height: 5px;
						}
					}

					li+li {
						margin-top: 10px;
					}
				}
			}

			.list-items-icon {
				margin-top: 15px;

				.item+.item {
					margin-left: 15px;
				}

				.icon {
					display: flex;
					flex-direction: column;
					min-height: 70px;

					img {
						display: block;
						margin: auto auto 0;
						width: 50%;
					}
				}

				p {
					font-size: 11px;
				}
			}
		}
	}
}