.index-4 {
	position: relative;
	box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: .5);

	.container {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.block-content {
		position: absolute;
		bottom: 20%;
		left: 10px;

		h2 {
			font-size: 2.5rem;
			color: map-get($mau, main-1);
			margin-bottom: 30px;
		}

		.desc {
			ul {
				li {
					color: #ffffff;
					font-size: 1.25rem;
				}

				li+li {
					margin-top: 20px;
				}
			}
		}
	}
}