.index-5 {
	padding-top: 80px;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;

	.content {
		.desc {
			margin-top: 40px;

			p {
				color: #ffffff;
				font-size: 18px;
				text-align: justify;
				width: fit-content;
				margin: 0 auto;
			}
		}
	}

	.map-index-5 {
		position: relative;
		margin-top: 70px;
	}

	.list-fixed-item {
		@media (min-width: 1025px) {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			padding: 20px;
			border-radius: 10px;
			border: 1px solid lighten(black, 12%);
			background: rgba(white, 0.8);
			box-shadow: 0 0 10px rgba(black, 0.4);

			ul {
				list-style-type: none;
				padding-left: 0;

				li {
					cursor: pointer;
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					padding: 5px;
					border-radius: 3px;

					h5 {
						text-transform: uppercase;
						font-weight: 400;
						padding-left: 10px;
						font-size: 16px;
						letter-spacing: 1px;
					}

					&.active {
						background: map-get($mau, main);

						h5 {
							color: white;
						}
					}

					&:hover {
						background: rgba(map-get($mau, main), 0.3);

						h5 {
							color: white;
						}
					}

					&:before {
						content: '';
						display: block;
						// position: absolute;
						// top: 0;
						// left: 0;
						width: 40px;
						height: 25px;
						background: map-get($mau, main);
					}

					&[data-bg-item='yellow'] {
						&:before {
							background-color: #fbdd0f;
						}
					}

					&[data-bg-item='aqua'] {
						&:before {
							background-color: #38e2ed;
						}
					}

					&[data-bg-item='pink'] {
						&:before {
							background-color: #e5ada6;
						}
					}

					// h5 {
					// 	position: absolute;
					// 	left: 100%;
					// 	top: 0;
					// 	height: 100%;
					// 	width: 350px;
					// 	display: flex;
					// 	align-items: center;
					// 	padding-left: 45px;
					// 	background: linear-gradient(
					// 		90deg,
					// 		#d5b85f,
					// 		rgba(0, 0, 0, 0)
					// 	);
					// 	text-transform: uppercase;
					// 	color: #ffffff;
					// 	font-size: 25px;
					// 	user-select: none;
					// 	transform: translateX(-130%);
					// 	transition: 0.3s all ease;
					// }

					// @media (min-width: 1025px) {
					// 	&:hover,
					// 	&.active {
					// 		h5 {
					// 			transform: translateX(0);
					// 		}
					// 	}
					// }
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-content {
			max-width: 80%;
		}

		.content {
			.block-title {
				width: 80%;
				margin: 0 auto;
			}

			.desc {
				margin-top: 40px;

				p {
					color: #ffffff;
					font-size: 1.25rem;
				}
			}
		}

		.list-fixed-item {
			padding: 20px 0;

			ul {
				width: auto;
				list-style-type: none;
				padding: 0 10px;
				display: flex;

				li {
					height: auto;
					-ms-flex: 0 0 33.333%;
					flex: 0 0 33.333%;
					max-width: 33.333%;
					padding: 0 10px;

					&:after {
						width: 25%;
						height: 50%;
					}

					h5 {
						width: auto;
						font-size: 18px;
						text-align: center;
						min-height: 45px;
						background: #e2ce92;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 22px;
						color: white;
						padding: 0 10px;

						@media (max-width: 575.98px) {
							font-size: 15px;
						}
					}

					&.active {
						h5 {
							background: map-get($mau, main);
							color: #e2ce92;
							border: 2px solid #e2ce92;
							transform: translateX(0);
						}
					}
				}

				li+li {
					margin-top: 0;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding-top: 50px;

		// .list-fixed-item {
		// 	ul {

		// 		li {
		// 			height: 60px;
		// 		}

		// 		li + li {
		// 			margin-top: 5px;
		// 		}
		// 	}
		// }

		.content {
			.desc {
				margin-top: 25px;

				p {
					font-size: 18px;
				}
			}
		}

		.map-index-5 {
			margin-top: 50px;
		}
	}

	@media (max-width: 575.98px) {
		padding-top: 25px;

		.content {
			.desc {
				margin-top: 25px;

				p {
					font-size: 14px;
				}
			}
		}

		.list-fixed-item {
			ul {
				li {
					h5 {
						padding: 0;
						font-size: 10px;
						min-height: 30px;
					}
				}
			}
		}

		// .list-fixed-item {
		// 	ul {
		// 		li {

		// 			h5 {
		// 				font-size: 10px;
		// 				width: 100px;
		// 			}
		// 		}

		// 		li + li {
		// 			margin-top: 5px;
		// 		}
		// 	}
		// }

		.map-index-5 {
			margin-top: 25px;
		}
	}
}

.index-5-main {
	position: relative;
}

.index-5-aside {
	@media (min-width: 1025px) {}

	.matbang-slide-controls {
		position: absolute;
		left: 0;
		bottom: 0;
		padding-bottom: 30px;
		display: flex;
		justify-content: center;

		.map-index-4-slider-close,
		.map-index-4-slider-prev,
		.map-index-4-slider-next {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background-color: rgba(#dcc375, 0.4);

			&:hover {
				background-color: rgba(#dcc375, 0.75);
			}
		}

		.map-index-4-slider-close {
			margin-right: 20px;
			border-radius: 7px;
		}

		.map-index-4-slider-prev {
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}

		.map-index-4-slider-next {
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}

		@media (min-width: 1025px) {
			width: 250px;
		}

		@media (min-width: 1200px) {
			width: 350px;
		}

		@media (min-width: 1440px) {
			width: 450px;
		}

		@media (min-width: 1600px) {
			width: 535px;
		}

		@media (max-width: 1024.98px) {
			display: none;
		}
	}

	.matbang-slider {
		display: none;
		height: 100%;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		transition-delay: 0.05s;

		&.active {
			display: block;
		}

		&.show {
			opacity: 1;
		}
	}

	@media (min-width: 1025px) {
		position: absolute;
		height: 100%;
		top: 0;
		z-index: 2;
		width: 100%;
		transition: all 0.5s linear;
		padding-left: 250px;
		transform: translateX(100%);
		opacity: 0;

		&:after {
			content: '';
			background-color: map-get($mau, main);
			position: absolute;
			left: 250px;
			right: 0;
			top: 0;
			bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			width: 250px;
			height: 100%;
			left: 0;
			top: 0;
			background-image: url('../assets/images/background/index-5__2.png');
			background-position: 0 0;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}

		&.active {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@media (min-width: 1200px) {
		padding-left: 350px;

		&:before {
			width: 350px;
		}

		&:after {
			left: 350px;
		}
	}

	@media (min-width: 1440px) {
		padding-left: 450px;

		&:before {
			width: 450px;
		}

		&:after {
			left: 450px;
		}
	}

	@media (min-width: 1600px) {
		padding-left: 535px;

		&:before {
			width: 535px;
		}

		&:after {
			left: 535px;
		}
	}

	.swiper-container {
		height: 100%;
		background-color: white;
	}
}