.index-6 {
	background: #dfdfdf;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;

	.block-1 {
		.block-content {
			padding: 85px 0;
		}
	}

	.block-2 {
		box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .5);

		.block-content {
			position: relative;

			@media (min-width: 1025px) {
				.content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					width: 80%;
				}
			}
		}

		.price {
			h4 {
				font-size: 25px;
				color: #ffffff;
				text-transform: uppercase;
			}

			h3 {
				font-size: 50px;
				color: map-get($mau, main-1);
				text-shadow: 0 3px 6px rgba($color: #000000, $alpha: .78);
			}

			p {
				color: #ffffff;
				font-size: 20px;
			}
		}

		.prioritize {
			margin-top: 25px;

			h3 {
				font-size: 25px;
				color: #ffffff;
				text-transform: uppercase;
			}

			ul {
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				li {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;

					.icon {
						margin-bottom: 10px;
						height: 95px;
						overflow: hidden;
					}

					.text {
						p {
							font-size: 20px;
							color: #ffffff;
						}
					}
				}

				li+li {
					padding-left: 15px;
				}
			}
		}

		.sale {
			margin-top: 60px;

			h3 {
				font-size: 25px;
				color: #ffffff;
				text-transform: uppercase;
			}

			ul {
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				li {
					-ms-flex: 0 0 33.3333%;
					flex: 0 0 33.3333%;
					max-width: 33.3333%;

					.icon {
						margin-bottom: 10px;
						height: 95px;
						overflow: hidden;
					}

					.text {
						p {
							font-size: 20px;
							color: #ffffff;
						}
					}
				}

				li+li {
					padding-left: 15px;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-1 {
			.block-content {
				padding: 50px 0;
			}
		}

		.block-2 {
			background-size: cover;
			height: auto;

			.block-content {
				padding: 50px 25px;
				max-width: 80%;
			}
		}
	}

	@media (max-width: 767.98px) {
		.block-1 {
			.block-content {
				max-width: 80%;
			}
		}

		.block-2 {
			.price {
				h4 {
					font-size: 22px;
				}

				h3 {
					font-size: 32px;
				}

				p {
					font-size: 18px;
				}
			}

			.prioritize {
				h3 {
					font-size: 22px;
				}

				ul {
					li {
						.icon {
							height: 60px;
							width: 30%;
							margin: 0 auto 10px;
						}

						.text {
							p {
								font-size: 16px;
							}
						}
					}

					li+li {
						padding-left: 15px;
					}
				}
			}

			.sale {
				margin-top: 25px;

				h3 {
					font-size: 22px;
				}

				ul {
					margin-top: 20px;

					li {
						.icon {
							height: 60px;
							width: 30%;
							margin: 0 auto 10px;
						}

						.text {
							p {
								font-size: 16px;
							}
						}
					}

					li+li {
						padding-left: 15px;
					}
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.block-1 {
			.block-content {
				padding: 25px 0;

				.block-title {
					h2 {
						font-size: 18px;
					}
				}
			}
		}

		.block-2 {
			.container {
				padding: 0;
			}

			.block-content {
				max-width: 100%;
				padding: 25px;
			}

			.price {
				h4 {
					font-size: 18px;
				}

				h3 {
					font-size: 24px;
				}

				p {
					font-size: 14px;
				}
			}

			.prioritize {
				margin-top: 25px;
				max-width: 100%;

				h3 {
					font-size: 18px;
				}

				ul {
					margin-top: 25px;

					li {
						.text {
							p {
								font-size: 14px;
							}
						}
					}

					li+li {
						padding-left: 15px;
					}
				}
			}

			.sale {
				margin-top: 25px;

				h3 {
					font-size: 18px;
					color: #ffffff;
					text-transform: uppercase;
				}

				ul {
					margin-top: 25px;

					li {
						.icon {
							width: 50%;
							height: 50px;
						}

						.text {
							p {
								font-size: 14px;
							}
						}
					}

					li+li {
						padding-left: 15px;
					}
				}
			}
		}
	}
}