.index-8 {
	position: relative;
	height: 780px;
	background-size: cover;

	.block-content {
		padding: 70px 0;
	}

	.sub-title {
		margin-top: 25px;

		p {
			color: #ffffff;
			font-size: 20px;
		}
	}

	.list-item {
		display: flex;
		flex-wrap: wrap;
		margin-right: -7.5px;
		margin-left: -7.5px;
		margin-top: 50px;

		.item {
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
			max-width: 20%;
			padding-right: 7.5px;
			padding-left: 7.5px;
			height: 417px;

			&:after {
				z-index: 5;
			}

			&:nth-child(2n+1) {
				.item-content {
					&:after {
						background-image: url('../assets/images/background/item-index-8__1.png');
					}
				}
			}

			&:nth-child(2n) {
				.item-content {
					&:after {
						background-image: url('../assets/images/background/item-index-8__2.png');
					}
				}
			}

			.item-content {
				height: 100%;
			}
		}

		.icon {
			height: 86px;
			width: 75px;
			overflow: hidden;
		}

		@media (min-width: 1200px) {
			.icon {
				position: absolute;
				left: 50%;
				top: 25%;
				transform: translateX(-50%);
				padding-bottom: 10px;
				border-bottom: 1px solid #ffffff5d;
				text-align: center;
				z-index: 10;
			}

			.text {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 80%;
				transform: translateX(-50%);
				z-index: 10;

				p {
					font-size: 20px;
					color: #ffffff;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.list-item {
			.icon {
				position: relative;
				z-index: 50;
				margin: 0 auto;
				height: 45px;
				width: 45px;
			}

			.text {
				position: relative;
				z-index: 50;
			}
		}
	}

	@media (max-width: 1199.98px) {
		height: unset;
		background-size: cover;

		.block-content {
			padding: 50px 0;

			.block-title {
				max-width: 50%;
			}
		}

		.sub-title {
			margin-top: 35px;
			width: 70%;
			margin: 0 auto;
		}

		.list-item {
			.item {
				-ms-flex: 0 0 33.333%;
				flex: 0 0 33.333%;
				max-width: 33.333%;
				height: unset;
				margin-bottom: 15px;

				.item-content {
					padding: 25px;
					background-image: none !important;
					background: #226439be;
				}
			}

			.icon {
				img {
					display: block;
					margin: 0 auto;
				}
			}

			.text {
				margin-top: 15px;

				p {
					color: #ffffff;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.list-item {
			.item {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

	@media (max-width: 575.98px) {
		.block-content {
			padding: 25px 0;

			.block-title {
				max-width: 80%;
			}
		}

		.sub-title {
			margin-top: 25px;
			width: 90%;
			margin: 0 auto;

			p {
				font-size: 14px;
			}
		}

		.list-item {
			.item {
				.item-content {
					padding: 10px;
				}
			}

			.icon {
				img {
					display: block;
					margin: 0 auto;
				}
			}

			.text {
				p {
					font-size: 14px;
				}
			}
		}
	}
}