.index-9 {
	padding-top: 84px;

	@media (max-width: 1024.98px) {
		padding-top: 50px;
	}

	@media (max-width: 767.98px) {
		padding-top: 25px;
	}

	.sub-title {
		margin-top: 30px;

		p {
			color: #ffffff;
			font-size: 18px;
		}
	}

	.slider-item__index-9 {
		position: relative;
		padding-bottom: 60px;
		margin-top: 50px;

		.img {
			position: relative;

			.date {
				position: absolute;
				top: 20px;
				left: 25px;
				font-weight: 700;
				font-style: italic;
				color: map-get($mau, main);
				padding: 5px 10px;
				background-size: 100% 100%;
				width: unset;
				height: unset;
			}
		}

		.list-btn-slider {
			bottom: 0;
			right: 0;
		}

		.text {
			color: #ffffff;
			padding: 15px 30px;

			&:after {
				background-image: url(../assets/images/background/item_index-9.png);
				z-index: -1;
			}

			h3 {
				text-transform: uppercase;
				font-size: 18px;
			}

			p {
				font-size: 16px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-content {
			max-width: 60%;
		}

		.sub-title {
			margin-top: 35px;

			p {
				color: #ffffff;
				font-size: 18px;
			}
		}

		.slider-item__index-9 {
			.text {
				h3 {
					text-transform: uppercase;
					font-size: 22px;
				}

				p {
					font-size: 18px;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.sub-title {
			margin-top: 35px;

			p {
				font-size: 14px;
			}
		}

		.block-content {
			max-width: 80%;
		}

		.slider-item__index-9 {
			margin-top: 25px;

			.text {
				h3 {
					text-transform: uppercase;
					font-size: 18px;
				}

				p {
					font-size: 16px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.sub-title {
			margin-top: 15px;
		}

		.block-content {
			max-width: 90%;
		}

		.slider-item__index-9 {
			padding-bottom: 50px;

			.text {
				p {
					font-size: 14px;
				}
			}

			.list-btn-slider {
				bottom: 0;
				right: unset;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}