header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 500;
	background: #ffffff;
	box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
	transition: .3s all ease-in-out;

	.logo {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		z-index: 30;

		img {
			height: 100%;
			transition: .3s all ease-in-out;
		}

		.icon-logo {
			width: 60px;
			height: 60px;
			display: none;
		}
	}

	.slider-menu {
		margin-left: auto;
		overflow-x: hidden;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;

		.swiper-container {
			padding: 33px 0;
		}

		@media (min-width: 1025px) {
			.swiper-wrapper {
				justify-content: flex-end;
			}
		}

		.swiper-slide {
			width: auto !important;
		}

		.item {
			position: relative;

			>a {
				position: relative;
				font-size: 22px;
				color: #A4A4A4;
				text-transform: uppercase;
				padding-bottom: 5px;
				transition: .3s all ease-in-out;
				white-space: nowrap;

				&:after {
					content: '';
					width: 0;
					height: 1px;
					position: absolute;
					top: 100%;
					left: 0;
					background: map-get($mau, main);
					transition: .3s all ease-in-out;
				}

				&::before {
					content: '';
					position: absolute;
					top: -100%;
					left: 50%;
					transform: scaleY(0) translateX(-50%);
					width: 30px;
					height: 31px;
					background-image: url(../assets/icons/icon-menu-hover.png);
					background-size: cover;
					opacity: 0;
					visibility: hidden;
					transition: .3s all ease-in-out;
					z-index: 10;
				}
			}

			@media (min-width: 1025px) {
				&:hover {
					>a {
						color: map-get($mau, main);

						&:after {
							width: 43px;
						}

						&:before {
							opacity: 1;
							visibility: visible;
							transform: scaleY(1) translateX(-50%);
						}
					}
				}
			}

			&.active {
				>a {
					color: map-get($mau, main);

					&:after {
						width: 43px;
					}
				}
			}
		}
	}

	.language {
		margin-left: 15px;
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 80px;
		max-width: 80px;

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			padding-left: 0;
		}

		li {
			cursor: pointer;
			user-select: none;

			>a {
				position: relative;
				font-size: 22px;
				color: #A4A4A4;
				text-transform: uppercase;
			}

			&.active {
				>a {
					color: map-get($mau, main);
				}
			}
		}

		li+li {
			position: relative;
			margin-left: 7.5px;
			padding-left: 7.5px;

			&:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #A4A4A4;
			}
		}
	}

	.search {
		position: relative;
		margin-left: 10px;
		margin-bottom: 10px;
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 25px;
		max-width: 25px;

		.icon {
			cursor: pointer;
		}

		&.active {
			.block-form {
				opacity: 1;
				visibility: visible;
			}
		}

		.block-form {
			position: absolute;
			top: 200%;
			right: -100%;
			z-index: 100;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			transition: .3s all ease-in-out;

			.form-control {
				position: relative;
				width: 250px;
				font-size: 14px;
				border: 2px solid map-get($mau, main);
				padding: 0 10px;
				box-shadow: 0;
				border-radius: 10px;
				line-height: 35px;
				color: map-get($mau, main);
			}

			.form-group {
				position: relative;
				overflow: hidden;
			}

			button {
				position: absolute;
				right: 0;
				top: 0;
				background: map-get($mau, main);
				border: 0;
				border-radius: 0 10px 10px 0;
				height: 100%;

				img {
					width: 50%;
				}
			}
		}
	}

	@media (min-width: 1200px) {
		&.active {
			height: 60px;

			.logo {
				img {
					width: 120px;
				}

				.icon-logo {
					width: 40px;
					height: 40px;
				}
			}

			.slider-menu {
				.swiper-container {
					padding: 0;
				}

				.item {
					>a {
						font-size: 17px;

						&:before {
							content: none;
						}
					}
				}
			}

			.language {

				li {

					>a {
						font-size: 17px;
					}
				}
			}
		}

	}

	@media (max-width: 1699.98px) {
		.logo {
			img {
				width: 200px;
			}
		}

		.language {

			li {
				>a {
					font-size: 18px;
				}
			}
		}

		.slider-menu {

			.item {
				>a {
					font-size: 18px;

					&::before {
						top: -125%;
					}
				}
			}
		}
	}

	@media (max-width: 1439.98px) {
		.slider-menu {
			max-width: calc(100% - 200px);
		}

		.logo {
			img {
				display: none;
			}

			.icon-logo {
				display: block;
			}
		}

		.toggle-menu-mobile {
			display: block;
		}
	}

	@media (max-width: 1199.98px) {
		height: 75px;

		.language {
			margin-left: 10px;
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 65px;
			max-width: 65px;

			li {
				>a {
					font-size: 16px;
				}
			}
		}

		.slider-menu {
			.swiper-container {
				padding: 25px 0;
			}

			.item {
				>a {
					font-size: 16px;

					&::before {
						width: 17px;
						height: 18px;
						top: -90%;
					}
				}
			}
		}

		.search {
			margin-left: 5px;

			.icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.slider-menu {
			.swiper-container {
				padding: 0;
			}

			.item {
				>a {
					padding-bottom: 0;
				}
			}
		}

		.search {
			.block-form {
				right: 0;
			}
		}
	}

	@media (max-width: 575.98px) {
		height: 50px;

		.slider-menu {
			max-width: calc(100% - 140px);

			.item {
				>a {
					font-size: 14px;
				}
			}
		}

		.logo {
			.icon-logo {
				width: 35px;
				height: 35px;
			}
		}

		.search {
			.icon {
				width: 15px;
				height: 15px;
			}
		}

		.language {
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 55px;
			max-width: 55px;

			li {
				>a {
					font-size: 14px;
				}
			}
		}
	}
}



// nav {
// 	position: fixed;
// 	top: 100px;
// 	bottom: 0;
// 	left: -100%;
// 	width: 75%;
// 	background: #ffffff;
// 	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
// 	transition: .3s all ease-in-out;

// 	ul {
// 		flex-direction: column;
// 		margin-left: 100px;
// 		margin-top: 100px;
// 	}

// 	li {
// 		margin-bottom: 30px;

// 		>a {
// 			&::before {
// 				top: 35%;
// 				left: 110%;
// 				transform: translateY(-50%);
// 				width: 87px;
// 				height: 61px;
// 				background-image: url(../assets/icons/icon-menu-hover__left.png);
// 			}
// 		}
// 	}

// 	li+li {
// 		margin-left: 0;
// 	}

// 	&.active {
// 		left: 0;
// 	}
// }