extends _templates/_layout/_layout.pug

block var
	- let title = 'West Lakes';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	include _templates/index/i-1
	include _templates/index/i-2
	include _templates/index/i-3
	include _templates/index/i-4
	include _templates/index/i-5
	include _templates/index/i-6
	include _templates/index/i-7
	include _templates/index/i-8
	section.last-index(data-bg="../assets/images/background/last-index.png")
		include _templates/index/i-9
		include _templates/index/i-10
block scripts
	script(src="./js/YoutubeController.min.js")
