body {
	overflow-x: hidden;

	&.index-page {
		@media (max-width: 575.98px) {
			padding-bottom: 50px;
		}
	}

	&.disabled {
		overflow: hidden;
	}
}

#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 25px;
	right: 15px;
	z-index: 300;
	opacity: 0;
	pointer-events: none;
	transition: .3s all ease-in-out;

	&.active {
		pointer-events: visible;
		opacity: 1;
		pointer-events: static;
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

#overlay {
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 400;
	transition: 0.3s all ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

input,
select,
textarea {
	&.input-validation-error {
		color: red !important;
		border: 1px solid red !important;
		transition: 0.3s all ease-in-out;

		&::placeholder {
			color: red !important;
		}
	}
}

* {
	&[data-bg] {
		background-size: 100% 100%;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	&[data-bg-multiply] {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			mix-blend-mode: multiply;
		}
	}

	&[full-screen] {
		height: 85vh;
		width: 100%;
		overflow: hidden;
	}

	&[max-width='1036px'] {
		max-width: 1036px;
	}

	&[max-width='1360px'] {
		max-width: 1360px;
	}

	&[max-width='1088px'] {
		max-width: 1088px;
	}

	&[max-width='845px'] {
		max-width: 845px;
	}

	&[max-width='600px'] {
		max-width: 600px;
	}

	&[max-width='1280px'] {
		max-width: 1280px;
	}

	&[max-width='75%'] {
		max-width: 75%;
	}

	&[max-width='60%'] {
		max-width: 60%;
	}

	&[max-width='50%'] {
		max-width: 50%;
	}

	&[max-width='80%'] {
		max-width: 80%;
	}

	&[max-width='40%'] {
		max-width: 40%;
	}

	&[right] {
		margin-left: auto;
	}
}

main {
	padding-top: 100px;

	@media (max-width: 1199.98px) {
		padding-top: 75px;
	}

	@media (max-width: 575.98px) {
		padding-top: 50px;
	}
}

.field-validation-error {
	display: inline-block;
	margin: 0.5rem 0;
	font-size: 12px;
	color: red;
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: map-get($mau, main);
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.block-title {
	position: relative;
	border-bottom: 1px solid #ffffff;
	width: fit-content;
	padding: 0 30px 15px;

	h2 {
		display: inline-block;
		position: relative;
		color: #ffffff;
		font-size: 42px;
		padding-right: 25px;
		text-transform: uppercase;
		line-height: 1.2;
		white-space: nowrap;

		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 7px;
			top: 0;
			right: 0;
			background: linear-gradient(180deg, #e4c777, #ba8c3c);
		}

		&[font-size='40px'] {
			font-size: 40px;
		}

		&[no-after] {
			padding-right: 0;

			&::after {
				content: none;
			}
		}
	}

	&[after-bg-main] {
		border-bottom: 1px solid map-get($mau, main-1);

		&:after,
		&:before {
			background: map-get($mau, main-1);
			bottom: -6px;
		}
	}

	&[no-after] {
		border: 0;

		&::after,
		&::before {
			content: none;
		}
	}

	&:after,
	&:before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #ffffff;
		bottom: -5.8px;
	}

	&::after {
		left: -2px;
	}

	&::before {
		right: -2px;
	}

	@media (max-width: 1024.98px) {
		padding-bottom: 10px;

		h2 {
			font-size: 32px;

			&[font-size='40px'] {
				font-size: 28px;
			}
		}
	}

	@media (max-width: 575.98px) {
		h2 {
			font-size: 24px;
		}
	}
}

.last-index {
	padding: 0 0;

	@media (max-width: 1024.98px) {
		padding: 0 0;
		background-size: cover;
	}

	@media (max-width: 767.98px) {
		padding: 0 0;
	}
}

.list-btn-slider {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	width: 85px;
	height: 40px;
	background: rgba(112, 139, 78, 0.38);
	z-index: 10;
	border-radius: 10px;
	overflow: hidden;

	&[has-pause] {
		width: 122px;

		.item {
			-ms-flex: 0 0 33.3333%;
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}
	}

	.item {
		background: #dcc375;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.swiper-button-pause {
		cursor: pointer;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background-image: url(../assets/icons/pause.svg);
			background-size: cover;
			left: 50%;
			top: 50%;
			width: 15px;
			height: 17px;
			transform: translate(-50%, -50%);
		}

		&.active {
			opacity: .5;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		height: 100%;
		margin-top: 0;
		color: #ffffff;

		&:after {
			font-size: 18px;
		}
	}

	@media (max-width: 575.98px) {
		width: 65px;
		height: 30px;

		.swiper-button-pause {
			&::after {
				width: 12px;
				height: 15px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			&:after {
				font-size: 14px;
			}
		}
	}
}