section.index-3(data-scroll-id="2" data-bg="./assets/images/background/index-3.jpg")
	.block-1
		.container.h-100
			.block-content(max-width='40%')
				.content
					.block-title.wow.fadeInDown(data-wow-delay=".2s" after-bg-main)
						h2 VỊ TRÍ & TIỆN ÍCH
					.desc.wow.fadeInDown(data-wow-delay=".4s")
						h3 Vị trí tiềm năng – sinh lời vượt trội
						p Tọa lạc ngay mặt tiền Tỉnh lộ 822 thuộc huyện Đức Hòa, tỉnh Long An, West Lakes Golf & Villas là Đô thị sân Golf đầu tiên sở hữu vị trí hội tụ đầy đủ mọi yếu tố “nội lực” cần thiết giúp thúc đẩy sự sinh lời nhanh chóng.
		.img-map
			img.svg(src="./assets/map-index-3.svg", alt="")
	.block-2
		.container
			.block-content.mx-at
				h3.ta-c.wow.fadeInDown(data-wow-delay=".2s") HỘI TỤ NỘI LỰC SINH LỜI NHANH
				.list-content
					ul.wow.fadeInDown(data-wow-delay=".2s")
						li Chỉ cách Phú Mỹ Hưng 40 phút – Trung tâm TP.HCM 60 phút.
						li Thuộc vùng đô thị TP.HCM, là vùng kinh tế trọng điểm phía Nam.
						li Cửa ngõ phía Tây Nam của TP.HCM
					ul.wow.fadeInDown(data-wow-delay=".2s")
						li Chuyển tiếp giữa 2 vùng động lực kinh tế cấp quốc gia và Đông Nam Bộ và Tây Nam Bộ.
						li Nút giao thông đường bộ trọng điểm như: Quốc lộ 22, TL 822, TL 823, QLN2, Cao tốc TP.HCM – Trung Lương, Cao tốc TP.HCM – Mộc Bài, Đại lộ ven sông (Tập đoàn Tuần Châu)…
				.list-items-icon
					.item.wow.fadeInLeft(data-wow-delay=".2s")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__1.png", alt="ICON-1")
						.text
							p Cách bệnh viện
								br
								| đa Khoa Xuyên Á 7km
					.item.wow.fadeInLeft(data-wow-delay=".3s")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__2.png", alt="ICON-2")
						.text
							p Nằm cạnh bên các
								br
								| khu công nghiệp lớn
					.item.wow.fadeInLeft(data-wow-delay=".4s")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__3.png", alt="ICON-3")
						.text
							p Cách 2 trung tâm
								br
								| hành chính lớn 3km