section.index-4
	.map-index-4-slider-wrapper
		.map-index-4-slider-custom
			.map-index-4-slider-1.map-index-4-slider#map-index-4-slider-1
				.content
					.number 01
					.title Sân golf chuẩn quốc tế 27 lỗ
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/background/index-4-1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/background/index-4-1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/background/index-4-1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/background/index-4-1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/background/index-4-1.jpg", alt="")
			.map-index-4-slider-2.map-index-4-slider#map-index-4-slider-2
				.content
					.number 02
					.title  Nhà câu lạc bộ hiện đại
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
			.map-index-4-slider-3.map-index-4-slider#map-index-4-slider-3
				.content
					.number 03
					.title  Tổ Hợp Giải Trí & Công Viên Nước
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/2.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/2.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/2.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/2.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/2.jpg", alt="")
			.map-index-4-slider-4.map-index-4-slider#map-index-4-slider-4
				.content
					.number 04
					.title Công viên chủ đề
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/3.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/3.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/3.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/3.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/3.jpg", alt="")
			.map-index-4-slider-5.map-index-4-slider#map-index-4-slider-5
				.content
					.number 05
					.title Trường Tiểu Học
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
			.map-index-4-slider-6.map-index-4-slider#map-index-4-slider-6
				.content
					.number 06
					.title Trường trung học
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/1.jpg", alt="")
			.map-index-4-slider-7.map-index-4-slider#map-index-4-slider-7
				.content
					.number 07
					.title Bệnh viện quốc tế
					//- .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled scrambled it to make a type specimen book.
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/images/index-4/4.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/4.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/4.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/4.jpg", alt="")
						.swiper-slide
							img(src="./assets/images/index-4/4.jpg", alt="")
		
		.map-index-4-slider-controls
			.map-index-4-slider-close
				<svg xmlns="http://www.w3.org/2000/svg" width="10" height="21" viewBox="0 0 10 21"><text transform="translate(0 17)" fill="#fff" font-size="16" font-family="Roboto-Light, Roboto" font-weight="300"><tspan x="0" y="0">X</tspan></text></svg>
			.map-index-4-slider-prev
				<svg xmlns="http://www.w3.org/2000/svg" width="8.578" height="17.364" viewBox="0 0 8.578 17.364"><path d="M7.2,0,0,7.975l7.371,7.975" transform="translate(0.5 0.706)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
			.map-index-4-slider-next
				<svg xmlns="http://www.w3.org/2000/svg" width="8.578" height="17.363" viewBox="0 0 8.578 17.363"><path d="M.171,0l7.2,7.975L0,15.951" transform="translate(0.707 0.706)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
	.map-index-4
		.map-wrapper
			.imgMapCanvas
				.map-canvas
					map(name="projectmap" class="image-map")
						area(shape="circle" coords="1068,409,37" href="#" area-target="1")
						area(shape="circle" coords="1156,573,37" href="#" area-target="2")
						area(shape="circle" coords="1532,592,37" href="#" area-target="3")
						area(shape="circle" coords="1650,500,37" href="#" area-target="4")
						area(shape="circle" coords="1720,362,37" href="#" area-target="5")
						area(shape="circle" coords="1567,337,37" href="#" area-target="6")
						area(shape="circle" coords="1642,247,37" href="#" area-target="7")
					canvas
				.map-image
					img(src="./assets/images/background/index-4.png" id="map-image" style="width: 1920px; max-width: 100%; height: auto;" alt="" usemap="#projectmap")
			.map-dialog
				.dialog.dialog-1(data-dialog="1")
					.dialog-wrapper
						h2 Sân golf chuẩn quốc tế 27 lỗ
				.dialog.dialog-2(data-dialog="2")
					.dialog-wrapper
						h2 Nhà câu lạc bộ hiện đại
				.dialog.dialog-3(data-dialog="3")
					.dialog-wrapper
						h2 Tổ Hợp Giải Trí & Công Viên Nước
				.dialog.dialog-4(data-dialog="4")
					.dialog-wrapper
						h2  Công viên chủ đề
				.dialog.dialog-5(data-dialog="5")
					.dialog-wrapper
						h2 Trường Tiểu Học
				.dialog.dialog-6(data-dialog="6")
					.dialog-wrapper
						h2 Trường trung học
				.dialog.dialog-7(data-dialog="7")
					.dialog-wrapper
						h2 Bệnh viện quốc tế
		.container.map-index-4-container
			.block-content
				.content
					h2.wow.fadeInDown(data-wow-delay=".2s") TIỆN ÍCH ĐẲNG CẤP 5 SAO
						br
						| DÀNH CHO GIỚI THƯỢNG LƯU
					.desc.wow.fadeInLeft(data-wow-delay=".6s")
						ul
							li Tại West Lakes Golf & Villas, chủ nhân trải nghiệm tiêu chuẩn sống xanh đầy đủ tiện nghi giữa lòng đô thị sân Golf hiện đại.
							li Tổ hợp tiện ích nội khu được đầu tư và thiết kế đồng bộ luôn sẵn sàng phục vụ cộng đồng cư dân tinh hoa: Sân golf chuẩn quốc tế 27 lỗ, clubhouse hiện đại, công viên nước, trường học, bệnh viện quốc tế, spa thời thượng, phòng gym đẳng cấp…
