section.index-4(data-bg="../assets/images/background/index-3.png")
	.block-1
		.container.h-100
			.block-content(max-width='40%')
				.content
					.block-title(after-bg-main)
						h2 VỊ TRÍ & TIỆN ÍCH
					.desc
						h3 Vị trí tiềm năng – 
							br
							| Động lực sinh lời vượt trội
						p Tọa lạc ngay mặt tiền Tỉnh lộ 822 thuộc huyện Đức Hòa, tỉnh Long An, West Lakes Golf & Villas là Đô thị sân Golf đầu tiên sở hữu vị trí hội tụ đầy đủ mọi yếu tố “nội lực” cần thiết giúp thúc đẩy sự sinh lời nhanh chóng.
		.img-map
			img.lazyload.blur-up(data-src="./assets/images/items/map.png", alt="MAP")
	.block-2
		.container
			.block-content.mx-at(max-width="1280px")
				h3.ta-c HỘI TỤ NỘI LỰC SINH LỜI NHANH
				.list-content
					ul
						li Chỉ cách Phú Mỹ Hưng 40 phút – Trung tâm TP.HCM 60 phút.
						li Chuyển tiếp giữa 2 vùng động lực kinh tế cấp quốc gia và Đông Nam Bộ và Tây Nam Bộ.
						li Thuộc vùng đô thị TP.HCM, là vùng kinh tế trọng điểm phía Nam.
						li Nút giao thông đường bộ trọng điểm như: Quốc lộ 22, TL 822, TL 823, QLN2, Cao tốc TP.HCM – Trung Lương, Cao tốc TP.HCM – Mộc Bài, Đại lộ ven sông (Tập đoàn Tuần Châu)…
						li Cửa ngõ phía Tây Nam của TP.HCM
				.list-items-icon
					.item
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__1.png", alt="ICON-1")
						.text
							p Cách bệnh viện
							p Đa Khoa Xuyên Á 7km
					.item
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__2.png", alt="ICON-2")
						.text
							p Cách bệnh viện
							p Đa Khoa Xuyên Á 7km
					.item
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-2__3.png", alt="ICON-3")
						.text
							p Cách bệnh viện
							p Đa Khoa Xuyên Á 7km