section.index-5(full-screen data-bg="../assets/images/background/index-5.png")
	.container.h-100
		.block-content(max-width='40%')
			.content
				h2 TIỆN ÍCH ĐẲNG CẤP 5 SAO
					br
					| DÀNH CHO GIỚI THƯỢNG LƯU
				.desc
					ul
						li Tại West Lakes Golf & Villas, chủ nhân trải nghiệm tiêu chuẩn sống xanh đầy đủ tiện nghi giữa lòng đô thị sân Golf hiện đại.
						li Tổ hợp tiện ích nội khu được đầu tư và thiết kế đồng bộ luôn sẵn sàng phục vụ cộng đồng cư dân tinh hoa: Sân golf chuẩn quốc tế 27 lỗ, clubhouse hiện đại, công viên nước, trường học, bệnh viện quốc tế, spa thời thượng, phòng gym đẳng cấp…