section.index-6(data-scroll-id="4" data-bg="./assets/images/background/index-6.jpg")
	.block-1
		.container
			.block-content.ta-c.mx-at(max-width='60%')
				.content
					.block-title.mx-at
						h2 CHƯƠNG TRÌNH BÁN HÀNG
	.block-2(data-bg="./assets/images/background/index-6-block-2.jpg" data-bg-multiply)
		.container.h-100
			.block-content.h-100.mx-at(max-width='1088px')
				.content.ta-c
					.price
						h4 giá công khai chỉ từ
						h3 2.850.000.000 VNĐ
						p Chỉ cần thanh toán 15% bạn đã sở hữu ngay căn biệt thự view sân Golf đẳng cấp liền kề Tp Hồ Chí Minh.
					.prioritize.mx-at(max-width='80%')
						ul
							li.wow.fadeInDown(data-wow-delay=".2s")
								.icon.ov-h
									img.lazyload.ofcv(data-src="./assets/icons/icon-index-6__1.png", alt="")
								.text
									p Chính sách thanh toán theo tiến độ trong vòng 24 tháng
							li.wow.fadeInDown(data-wow-delay=".2s")
								.icon.ov-h
									img.lazyload.ofcv(data-src="./assets/icons/icon-index-6__2.png", alt="")
								.text
									p Chính sách thanh toán sớm
					.sale
						ul
							li.wow.fadeInUp(data-wow-delay=".2s")
								.icon.ov-h
									img.lazyload.ofcv(data-src="./assets/icons/icon-index-6__3.png", alt="")
								.text
									p Chiết khấu ngay 5% giá trị căn biệt thự
							li.wow.fadeInUp(data-wow-delay=".3s")
								.icon.ov-h
									img.lazyload.ofcv(data-src="./assets/icons/icon-index-6__4.png", alt="")
								.text
									p Hỗ trợ hoàn thiện nhà lên đến 150TR đồng
							li.wow.fadeInUp(data-wow-delay=".4s")
								.icon.ov-h
									img.lazyload.ofcv(data-src="./assets/icons/icon-index-6__5.png", alt="")
								.text
									p Tặng ngay 1 cây vàng SJC trị giá lên đến 50TR
	.d-none.d-n(hidden)
		.index-6-popup#index-6-popup
			h2 West Lakes Golf & Villas
			hr
			.price
				h4 giá công khai chỉ từ
				h3 2.850.000.000 VNĐ
				p Chỉ cần thanh toán 15% bạn đã sở hữu ngay căn biệt thự view sân Golf đẳng cấp liền kề Tp Hồ Chí Minh.
			.sale
				ul
					li
						.icon
							img(src="./assets/icons/icon-index-6__3.png", alt="")
						.text
							p Chiết khấu ngay 5% giá trị căn biệt thự
					li
						.icon
							img(src="./assets/icons/icon-index-6__4.png", alt="")
						.text
							p Hỗ trợ hoàn thiện nhà lên đến 150TR đồng
					li
						.icon
							img(src="./assets/icons/icon-index-6__5.png", alt="")
						.text
							p Tặng ngay 1 cây vàng SJC trị giá lên đến 50TR
			.button
				a.btn.btn-close(data-bg="./assets/images/background/btn-submit__2.png") Đăng ký ngay