section.index-7(data-bg="./assets/images/background/index-7.png")
	.container(max-width="1360px")
		.block-content.mx-at
			h2 GIẢI THƯỞNG ĐẶC BIỆT
			.prize
				ul
					li.wow.fadeInLeft(data-wow-delay=".2s")
						.img
							img(src="./assets/images/items/prize-1.png", alt="")
						.text.ta-c
							p Voucher trị giá
							span.cl-main-1 200.000.000 VNĐ
					li.wow.fadeInDown(data-wow-delay=".2s")
						.img
							img(src="./assets/images/items/prize-2.png", alt="")
						.text.ta-c
							p Voucher trị giá
							span.cl-main-1 50.000.000 VNĐ
					li.wow.fadeInRight(data-wow-delay=".2s")
						.img
							img(src="./assets/images/items/prize-3.png", alt="")
						.text.ta-c
							p Voucher trị giá
							span.cl-main-1 200.000.000 VNĐ