section.index-8(data-bg="../assets/images/background/index-8.png")
	.container(max-width='1360px')
		.block-content.mx-at
			.content.ta-c
				.block-title.mx-at(max-width="600px")
					h2 HỖ TRỢ TÀI CHÍNH
				.sub-title
					p.ta-c "Đồng hành cùng Trần Anh Group phát triển dự án West Lakes Golf & Villas, .... cung cấp gói hỗ trợ tài chính như sau:
			.list-item
				.item
					.item-content(data-bg="../assets/images/background/item-index-8__1.png")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-8__1.png", alt="")
						.text.ta-c
							p Lãi xuất 0% - 06 tháng đầu
				.item
					.item-content(data-bg="../assets/images/background/item-index-8__2.png")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-8__2.png", alt="")
						.text.ta-c
							p Ân hạn gốc lãi suất cố định 1% / tháng/ dư nợ gốc thực tế giảm dần cho 30 tháng.
				.item
					.item-content(data-bg="../assets/images/background/item-index-8__1.png")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-8__3.png", alt="")
						.text.ta-c
							p Vay lên đến 50% giá trị căn biệt thự
				.item
					.item-content(data-bg="../assets/images/background/item-index-8__2.png")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-8__4.png", alt="")
						.text.ta-c
							p Thời gian 36 tháng
				.item
					.item-content(data-bg="../assets/images/background/item-index-8__1.png")
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/icon-index-8__5.png", alt="")
						.text.ta-c
							p Hồ sơ đơn giản, giải ngân nhanh chóng