section.index-9
	.container
		.block-content.mx-at(max-width='50%')
			.content.ta-c
				.block-title.mx-at(max-width="600px")
					h2 TIẾN ĐỘ
				.sub-title
					p.ta-c Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing,…
		.list-item.mx-at(max-width="1360px")
			.slider-item__index-9
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__1.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__2.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__3.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__1.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__2.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
						.swiper-slide
							.item
								.img.ov-h
									img.ofcv(src="./assets/images/items/index-9__3.png", alt="")
									.date(data-bg="../assets/images/background/item-date-index-9.png") 28/05/20
								.text(data-bg="../assets/images/background/item_index-9.png")
									h3.lcl.lcl-1 Lorem ipsum dolor
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
				.list-btn-slider
					.item.swiper-button-prev
					.item.swiper-button-next